@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
